node_modules/
dist/
.env
.DS_Store

# Ignore everything in data directory except instagram-v2.json
data/*
!data/instagram-v2.json

# SSH keys
*_rsa
*_rsa.pub

menu-layout.psd
new/images/sport-menu/menu-layout.psd *.psd
